<head>
  <meta charset="utf-8" />
  <title>Coro Viz</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>

</head>

<h1> Exer </h1>

<body>

Text entered : 
<p id='textEntered'> </p>

<script>
var eT = [{% for item in text %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array
console.log("Text entered: "+eT); 
document.getElementById("textEntered").innerHTML = eT;

</script>
